@using ProyectoNominaINTBII.Models

<h2>Agregar Usuario</h2>
<form asp-action="CreateUser" asp-controller="Admin" method="post" class="create-user-form">
    <div class="row">
        <!-- Columna izquierda -->
        <div class="col-md-4">
            <div class="form-group">
                <label for="Nombre">Nombre Completo</label>
                <input type="text" class="form-control" id="Nombre" name="Nombre" placeholder="Ingrese el nombre completo" required />
            </div>
            <div class="form-group">
                <label for="ApellidoPaterno">Apellido Paterno</label>
                <input type="text" class="form-control" id="ApellidoPaterno" name="ApellidoPaterno" placeholder="Ingrese el apellido paterno" required />
            </div>
            <div class="form-group">
                <label for="ApellidoMaterno">Apellido Materno</label>
                <input type="text" class="form-control" id="ApellidoMaterno" name="ApellidoMaterno" placeholder="Ingrese el apellido materno" required />
            </div>
            <div class="form-group">
                <label for="SexoId">Sexo</label>
                <select id="SexoId" name="SexoId" class="form-control custom-select" required>
                    @foreach (var item in Model.Sexos)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="EstadoCivilId">Estado Civil</label>
                <select id="EstadoCivilId" name="EstadoCivilId" class="form-control custom-select" required>
                    @foreach (var item in Model.EstadosCiviles)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="TipoContratoId">Tipo de Contrato</label>
                <select id="TipoContratoId" name="TipoContratoId" class="form-control custom-select" required>
                    @foreach (var item in Model.TiposContrato)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="PaisId">País</label>
                <select id="PaisId" name="PaisId" class="form-control custom-select" required>
                    @foreach (var item in Model.Paises)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="BancoId">Banco</label>
                <select id="BancoId" name="BancoId" class="form-control custom-select" required>
                    @foreach (var item in Model.Bancos)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="DepartamentoId">Departamento</label>
                <select id="DepartamentoId" name="DepartamentoId" class="form-control custom-select" required>
                    @foreach (var item in Model.Departamentos)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="PeriocidadPagoId">Periocidad de Pagos</label>
                <select id="PeriocidadPagoId" name="PeriocidadPagoId" class="form-control custom-select" required>
                    @foreach (var item in Model.PeriodicidadesPago)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
        </div>

        <!-- Columna central -->
        <div class="col-md-4">
            <div class="form-group">
                <label for="Calle">Calle</label>
                <input type="text" class="form-control" id="Calle" name="Calle" placeholder="Ingrese la calle" required />
            </div>
            <div class="form-group">
                <label for="NumeroExt">Número Exterior</label>
                <input type="text" class="form-control" id="NumeroExt" name="NumeroExt" placeholder="Número exterior" required />
            </div>
            <div class="form-group">
                <label for="NumeroInt">Número Interior</label>
                <input type="text" class="form-control" id="NumeroInt" name="NumeroInt" placeholder="Número interior" />
            </div>
            <div class="form-group">
                <label for="Colonia">Colonia</label>
                <input type="text" class="form-control" id="Colonia" name="Colonia" placeholder="Ingrese la colonia" required />
            </div>
            <div class="form-group">
                <label for="CP">Código Postal</label>
                <input type="text" class="form-control" id="CP" name="CP" placeholder="Código Postal" required />
            </div>
            <div class="form-group">
                <label for="TelefonoFijo">Teléfono Fijo</label>
                <input type="text" class="form-control" id="TelefonoFijo" name="TelefonoFijo" placeholder="Ejemplo: 123-456-7890" />
            </div>
            <div class="form-group">
                <label for="EstadoId">Estado</label>
                <select id="EstadoId" name="EstadoId" class="form-control custom-select" required>
                    @foreach (var item in Model.Estados)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="TipoRegimenId">Tipo de Régimen</label>
                <select id="TipoRegimenId" name="TipoRegimenId" class="form-control custom-select" required>
                    @foreach (var item in Model.TiposRegimen)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="TipoJornadaId">Tipo de Jornada</label>
                <select id="TipoJornadaId" name="TipoJornadaId" class="form-control custom-select" required>
                    @foreach (var item in Model.TiposJornada)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="TipoEmpleadoId">Tipo de Empleado</label>
                <select id="TipoEmpleadoId" name="TipoEmpleadoId" class="form-control custom-select" required>
                    @foreach (var item in Model.TiposEmpleado)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
        </div>

        <!-- Columna derecha -->
        <div class="col-md-4">
            <div class="form-group">
                <label for="NumEmpleado">Número de Empleado</label>
                <input type="text" class="form-control" id="NumEmpleado" name="NumEmpleado" placeholder="Ingrese un valor numérico" required />
            </div>
            <div class="form-group">
                <label for="RFC">RFC</label>
                <input type="text" class="form-control" id="RFC" name="RFC" placeholder="Ejemplo: ABCD123456789" required />
            </div>
            <div class="form-group">
                <label for="CURP">CURP</label>
                <input type="text" class="form-control" id="CURP" name="CURP" placeholder="Ejemplo: ABCD123456HDFR01" required />
            </div>
            <div class="form-group">
                <label for="NSS">Número IMSS</label>
                <input type="text" class="form-control" id="NSS" name="NSS" placeholder="Ejemplo: 12345678901" required />
            </div>
            <div class="form-group">
                <label for="Salario">Salario</label>
                <input type="number" step="0.01" class="form-control" id="Salario" name="Salario" placeholder="Ingrese el salario total" required />
            </div>
            <div class="form-group">
                <label for="SalarioDiarioInte">Salario Diario Integrado</label>
                <input type="number" step="0.01" class="form-control" id="SalarioDiarioInte" name="SalarioDiarioInte" placeholder="Ingrese el salario diario integrado" required />
            </div>
           
            <div class="form-group">
                <label for="MunicipioId">Municipio</label>
                <select id="MunicipioId" name="MunicipioId" class="form-control custom-select" required>
                    @foreach (var item in Model.Municipios)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="PuestoId">Puesto</label>
                <select id="PuestoId" name="PuestoId" class="form-control custom-select" required>
                    @foreach (var item in Model.Puestos)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
          <div class="form-group">
                <div class="form-group">
                    <label for="FormaPagoId">Forma de Pago</label>
                    <select id="FormaPagoId" name="FormaPagoId" class="form-control custom-select" required>
                        @foreach (var item in Model.FormasPago)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
    </div>
</div>

<div class="form-group">
    <label for="Role">Rol</label>
    <input type="text" class="form-control" id="Role" name="Role" placeholder="Ingrese el rol" required />
</div>



<div class="form-group">
    <label for="CLABE">CLABE</label>
    <input type="text" class="form-control" id="CLABE" name="CLABE" placeholder="Ingrese la CLABE" required />
</div>

<div class="form-group">
    <label for="Email">Correo Electrónico</label>
    <input type="email" class="form-control" id="Email" name="Email" placeholder="Ingrese el correo electrónico" required />
</div>

<div class="form-group">
    <label for="Password">Contraseña</label>
    <input type="password" class="form-control" id="Password" name="Password" placeholder="Ingrese la contraseña" required />
</div>

<div class="form-group">
    <label for="Username">Nombre de Usuario</label>
    <input type="text" class="form-control" id="Username" name="Username" placeholder="Ingrese el nombre de usuario" required />
</div>

<div class="form-group">
    <label for="Estatus">Estatus</label>
    <select class="form-control" id="Estatus" name="Estatus" required>
        <option value="A">Activo</option>
        <option value="I">Inactivo</option>
    </select>
</div>

<div class="form-group">
    <label for="CuentaBanco">Cuenta Bancaria</label>
    <input type="number" class="form-control" id="CuentaBanco" name="CuentaBanco" placeholder="Ingrese el número de cuenta bancaria" required />
</div>

<div class="form-group">
    <label for="TelefonoMovil">Teléfono Móvil</label>
    <input type="text" class="form-control" id="TelefonoMovil" name="TelefonoMovil" placeholder="Ejemplo: 123-456-7890" required />
</div>


    </div>

    <!-- Botón para enviar formulario -->
    <div class="button-container">
        <button type="submit" class="btn-create-user">
            <i class="fas fa-user-plus icon-spacing"></i> Agregar Usuario
        </button>
    </div>
</form>


<script>
    window.onload = function () {
        // Verifica si hay un mensaje de error en TempData
        const errorMessage = '@TempData["ErrorMessage"]';
        const successMessage = '@TempData["SuccessMessage"]';

        if (errorMessage) {
            alert(errorMessage); // Muestra el mensaje de error en un alert
        }

        if (successMessage) {
            alert(successMessage); // Muestra el mensaje de éxito en un alert
        }
    };
</script>



<style>
    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
        color: #495057;
        display: block;
        margin-bottom: 0.5rem;
    }

    .button-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 30px; /* Espacio adicional antes del botón */
        margin-bottom: 20px; /* Espacio después del botón para evitar que esté demasiado cerca del borde del formulario */
    }

    .btn-create-user {
        padding: 10px 20px;
        font-size: 20px;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .btn-create-user:hover {
            background-color: #0056b3;
        }

    .form-control {
        width: 100%;
        padding: 6px 8px;
        font-size: 16px;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        border: 2px solid #007bff;
        border-radius: 4px;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    .custom-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path fill="%23007bff" d="M17.71,6.29a1,1,0,0,0-1.42,0L10,12.59,3.71,6.29A1,1,0,0,0,2.29,7.71l7,7a1,1,0,0,0,1.42,0l7-7A1,1,0,0,0,17.71,6.29Z"></path></svg>') no-repeat right 0.75rem center/16px 16px;
        padding-right: 2.5rem; /* Espacio suficiente para no cortar el texto y mostrar el ícono */
    }

    select:focus {
        border-color: #0056b3;
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
        outline: none;
    }
</style>
