@model ProyectoNominaINTBII.Models.Nomina

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Nomina</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ejercicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ejercicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NominaExtraordinariaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NominaExtraordinariaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConceptoNomina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConceptoNomina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConceptoTimbrado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConceptoTimbrado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalTrabajadores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalTrabajadores)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPercepciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPercepciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalDeducciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalDeducciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extraordinaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extraordinaria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Generada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Generada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autorizada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autorizada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timbrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timbrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cerrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cerrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Periodo.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SatPeriocidadPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SatPeriocidadPago.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SatTipoContrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SatTipoContrato.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
