@model IEnumerable<ProyectoNominaINTBII.Models.Nomina>

@{
    ViewData["Title"] = "Nomina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Nomina</h1>

<p>
    <a asp-action="Create">Crear Nomina</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Periodo
            </th>
            <th>
                Ejercicio
            </th>
            <th>
               Fecha Inicial
            </th>
            <th>
               Fecha Final
            </th>
            <th>
                Fecha Pago
            </th>
            <th>
                Total Trabajadores
            </th>
            <th>
                Total Percepciones
            </th>
            <th>
                Total Deducciones
            </th>
            <th>
               Generada
            </th>
            <th>
                Autorizada
            </th>
            <th>
                Timbrada
            </th>
            <th>
                Cerrada
            </th>
            <th>Controles</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Periodo.Descripcion)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ejercicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalTrabajadores)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.TotalPercepciones)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.TotalDeducciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Generada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autorizada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timbrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cerrada)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
